* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

main {
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eeee;
    text-align: center;
}

.container h1 {
    margin-bottom: 15px;
    font-weight: 100;
}

.container button {
    padding: 13px 40px;
    border-radius: 25px;
    text-align: center;
    font-size: 1em;
    border: none;
    background-color: #5a5a5a;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.dark:hover {
    background-color: black !important;
}

.ligth:hover {
    background-color: #5a5a5a !important;
    color: #fff !important;
}

footer {
    background-color: #5a5a5a;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .paragrafo {
    text-align: center;
    color: #fff;
    font-size: .8em;
}